<!doctype html>
<html>
<head>
    <script>
    session = "<%= session %>".replace(/&#34;/g,'"');
    if( session.length > 0 ){
       session = JSON.parse(session)
       console.log(session)
    }
    </script>
    <meta charset="utf-8">
    <title>신청</title>
    <link href="../css/night.css" rel="stylesheet">
    <link href="../css/srTitle.css" rel="stylesheet">
</head>
<body>
    <script src="../js/srTitle.js"></script>
    <div id="content">
        <div id="view">
            <div id="boardTitle">
                <a class="boardName" href="/apply">시설 이용</a>
<!--                <a class="boardName">상담 신청</a>-->
                <a class="boardName" href="/night">야자실 신청</a>
                <a class="boardName" href="/dinner">석식 신청</a>
<!--                <a class="boardName">설문조사</a>-->
<!--                <a class="boardName">방과후 학교</a>-->
            </div>
            <div id="choice">
                <div class="choiceDay" onclick="choiceDay(0)" style="color:rgb(97, 97, 97)"><div class="day">월</div><div class="sub">MONDAY</div></div>
                <div class="choiceDay" onclick="choiceDay(1)" style="color:rgb(97, 97, 97)"><div class="day">화</div><div class="sub">TUESDAY</div></div>
                <div class="choiceDay" onclick="choiceDay(2)" style="color:rgb(97, 97, 97)"><div class="day">수</div><div class="sub">WEDNESDAY</div></div>
                <div class="choiceDay" onclick="choiceDay(3)" style="color:rgb(97, 97, 97)"><div class="day">목</div><div class="sub">THURSDAY</div></div>
                <div class="choiceDay" onclick="choiceDay(4)" style="color:rgb(97, 97, 97)"><div class="day">금</div><div class="sub">FRIDAY</div></div>
            </div>
            <div style="width:calc(100% - 10px);height:30px;line-height:30px;text-align:center;margin:auto;margin-top:10px;box-shadow:0px 0px 3px rgba(0,0,0,0.25);color:#616161;" onclick="alert('신청이 완료되었습니다')">신청</div>
        </div>
    </div>
    <script>
    
    function choiceDay(day) {
        if(document.getElementsByClassName('choiceDay')[day].style.color == "rgb(97, 97, 97)") {
            document.getElementsByClassName('choiceDay')[day].style.color= "rgb(255, 255, 255)";
            document.getElementsByClassName('choiceDay')[day].style.background = "linear-gradient(to right, #824ebf, #be3b66)";
        } else {
            document.getElementsByClassName('choiceDay')[day].style.color= "rgb(97, 97, 97)";
            document.getElementsByClassName('choiceDay')[day].style.background = "";
        }
    }
    </script>
</body>

</html>
